<form action="/rezultat-chestionar" method="POST">
    <% quiz.forEach((question, qIndex) => { %>
        <%= question.question %>: <br>
        <% question.options.forEach((option, oIndex) => { %>
            <input type="radio" id="q<%= qIndex %>o<%= oIndex %>" name="q<%= qIndex %>" value="<%= oIndex %>" required> <%= option %> <br>
        <% }); %>
        <br>
    <% }); %>
    <button type="submit">Submit</button>
</form>